.container {
  width: 80%;
  margin: 0 auto;
}

.controls {
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}
 canvas {
        border: 1px solid black;
      }

.control-buttons {
  border: 1px solid #ccc;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 30%;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #3e8e41;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   margin-bottom: 30px;
}

.info button {
  width: 80%;
  max-width: 100%;
}


.pista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   margin-bottom: 30px;
}

.pista h2 {
  margin-bottom: 20px;
}

.pista canvas {
  margin: auto;
}

p {
  margin: 10px 0;
}

span {
  font-weight: bold;
}

#D {
  margin-top: 20px;
  background-color: #f44336; /* cambia el color a rojo */
}

button:disabled {
  opacity: 0.5; /* cambia la opacidad del botón deshabilitado */
}

